
/* .Wrapper {
  
  box-sizing: border-box;

  padding-top: 5px;

  margin-bottom: 12px;

  font-size: 1rem;
  font-weight: 400;
  text-align: left;

  line-height: 1;

  letter-spacing: 0.009em;

  .Label {
    padding: 0 0 0 10px;

    font-size: 0.95rem;

    color: rgba(0, 0, 0, 0.54);
  }

} */
